<div class="page-container pt-8" data-controller="nav-links">
  <div class="flex justify-between items-center">
    <div class="flex justify-start w-48">
        <%= link_to restaurants_path do %>
          <div class="flex items-center gap-3">
            <i class="fa-solid fa-chevron-left"></i>
            <h2 class="text-xl font-bold">My Restaurants</h2>
          </div>
        <% end %>
    </div>

    <div class="flex justify-center items-center">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
      <% if @referer && @referer.include?('menu') %>
        <li class="nav-item" role="presentation">
          <button class="btn btn-outline-dark" id="pills-restaurant-tab" data-bs-toggle="pill" data-bs-target="#pills-restaurant" type="button" role="tab" aria-controls="pills-restaurant" aria-selected="true">RESTAURANT INFO</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="btn btn-outline-dark active" id="pills-menu-tab" data-bs-toggle="pill" data-bs-target="#pills-menu" type="button" role="tab" aria-controls="pills-menu" aria-selected="false">MENU INFO</button>
        </li>
        <% else %>
        <li class="nav-item" role="presentation">
          <button class="btn btn-outline-dark active" id="pills-restaurant-tab" data-bs-toggle="pill" data-bs-target="#pills-restaurant" type="button" role="tab" aria-controls="pills-restaurant" aria-selected="true">RESTAURANT INFO</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="btn btn-outline-dark" id="pills-menu-tab" data-bs-toggle="pill" data-bs-target="#pills-menu" type="button" role="tab" aria-controls="pills-menu" aria-selected="false">MENU INFO</button>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="flex justify-end w-48">
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        <div class="flex justify-center items-center h-8 rounded-lg border-t border-b border-l border-r border-black p-3 hover:bg-black hover:text-white">
          <h4><%= "Logout" %></h4>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tab-content" id="pills-tabContent">
    <% if @referer && @referer.include?('menu') %>
      <div class="py-8 tab-pane fade show" id="pills-restaurant" role="tabpanel" aria-labelledby="pills-restaurant-tab">
        <%= render "restaurants/info", restaurant: @restaurant %>
      </div>
      <div class="py-8 tab-pane fade show active" id="pills-menu" role="tabpanel" aria-labelledby="pills-menu-tab">
        <div class="flex gap-5">
          <%= render "menus/index", restaurant: @restaurant, menus: @restaurant.menus %>
          <%= render "menu_items/index", restaurant: @restaurant %>
        </div>
      </div>
    <% else %>
      <div class="py-8 tab-pane fade show active" id="pills-restaurant" role="tabpanel" aria-labelledby="pills-restaurant-tab">
        <%= render "restaurants/info", restaurant: @restaurant %>
      </div>
      <div class="py-8 tab-pane fade" id="pills-menu" role="tabpanel" aria-labelledby="pills-menu-tab">
        <div class="flex gap-5">
          <%= render "menus/index", restaurant: @restaurant, menus: @restaurant.menus %>
          <%= render "menu_items/index", restaurant: @restaurant %>
        </div>
      </div>
    <% end %>
  </div>

</div>
