<div class="customer-container">
  <div class="w-full h-28 bg-gray-300 flex items-end p-4">
    <h1 class="text-3xl font-bold">Your Table</h1>
  </div>

  <div class="px-4">
    <% @table_customers.each do |customer| %>
      <div class="mt-4">
        <h1 class="text-xl font-bold"><%= customer.name %></h1>
        <% customer.order_items.each do |order_item| %>
          <div class="w-full flex justify-between">
            <p><%= order_item.menu_item.name %></p>
            <p><%= number_to_currency(order_item.menu_item.price) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
    <hr class="mt-4">
    <div class="mt-4">
      <div class="w-full flex justify-between items-center mt-1">
        <h3>subtotal</h3>
        <% @subtotal = @table_order.total_price %>
        <h3><%= number_to_currency(@subtotal.to_f) %></h3>
      </div>
      <div class="w-full flex justify-between items-center mt-1">
        <h3>service charge</h3>
        <% @service_charge = (@subtotal * 0.125) %>
        <h3><%= number_to_currency(@service_charge.to_f) %></h3>
      </div>
      <div class="w-full flex justify-between items-center mt-1">
        <h3>tax</h3>
        <% @tax = (@subtotal - (@subtotal / 1.2)) %>
        <h3><%= number_to_currency(@tax.to_f) %></h3>
      </div>
      <div class="w-full flex justify-between items-center mt-3">
        <h2 class="text-xl font-bold">Total</h2>
        <h2 class="text-xl font-bold"><%= number_to_currency((@subtotal + @service_charge).to_f) %></h2>
      </div>
    </div>
    <hr class="mt-4">
    <% if @table_customer.is_captain %>
      <div class="flex items-center justify-between my-4">
        <div data-controller="order-item-modal">
          <%= link_to "Order More", new_restaurant_table_table_order_table_customer_order_item_path(@restaurant, @table, @table_order, @table_customer), class: "bg-black text-white rounded-lg py-2 px-4" %>
        </div>
        <button type="button" class="bg-black text-white rounded-lg py-2 px-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Checkout</button>
      </div>
    <% else %>
      <div data-controller="order-item-modal" class="flex items-center justify-center w-full">
        <%= link_to "Order More", new_restaurant_table_table_order_table_customer_order_item_path(@restaurant, @table, @table_order, @table_customer), class: "bg-black text-white px-12 py-2 rounded-lg fixed bottom-5" %>
      </div>
    <% end %>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content rounded-xl">
      <!-- Payment Split Options Modal -->
      <div class="flex flex-col justify-center items-center rounded-lg py-4" id="modal-split">
        <h2 class="text-xl font-bold">How do you want to split?</h2>
        <div class="w-full flex flex-wrap gap-4 justify-center items-center mt-4">
          <%= link_to "#" do %>
            <div class="w-36 h-36 bg-gray-300 rounded-xl flex flex-col justify-center items-center gap-3" id="button-to-pay-all">
              <i class="fa-solid fa-person text-4xl"></i>
              <h4>Pay for all</h4>
            </div>
          <% end %>
          <%= link_to split_evenly_path(@restaurant, @table, @table_order, @table_customer) do %>
            <div class="w-36 h-36 bg-gray-300 rounded-xl flex flex-col justify-center items-center gap-3">
              <i class="fa-solid fa-people-group text-4xl"></i>
              <h4>Split evenly</h4>
            </div>
          <% end %>
          <%= link_to split_by_items_path(@restaurant, @table, @table_order, @table_customer) do %>
            <div class="w-36 h-36 bg-gray-300 rounded-xl flex flex-col justify-center items-center gap-3">
              <i class="fa-solid fa-pizza-slice text-4xl"></i>
              <h4>Split by items</h4>
            </div>
          <% end %>
          <%= link_to "#" do %>
            <div class="w-36 h-36 bg-gray-300 rounded-xl flex flex-col justify-center items-center gap-3" id="button-to-card-roulette">
              <i class="fa-solid fa-dice text-4xl"></i>
              <h4>Card roulette</h4>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Pay All Selection Modal -->
      <div class="flex flex-col justify-center items-center rounded-lg py-4 hidden" id="modal-pay-all">
        <h2 class="text-xl font-bold">Who would like to pay?</h2>
        <% @table_customers.each do |customer| %>
          <div class="w-10/12 bg-gray-300 p-3 rounded-xl mt-3">
            <%= link_to customer.name, pay_all_path(@restaurant, @table, @table_order, @table_customer, payment_customer_id: customer.id) %>
          </div>
        <% end %>
        <button class="bg-black text-white px-8 py-2 mt-4 rounded-lg" id="button-to-split">Back</button>
      </div>

      <!-- Card Roulette Modal -->
      <div class="flex flex-col justify-center items-center rounded-lg py-4 hidden" id="modal-card-roulette">
        <h2 class="text-xl font-bold">Click the button to see who pays</h2>
        <div class="w-10/12">
        <% @table_customers.each do |customer| %>
          <%= link_to card_roulette_path(@restaurant, @table, @table_order, @table_customer, payment_customer_id: customer.id) do %>
            <div class="w-full p-3 rounded-xl mt-3 tag">
              <%= customer.name %>
            </div>
          <% end %>
        <% end %>
        <div>
        <div class="flex justify-between">
          <button class="bg-black text-white px-8 py-2 mt-4 rounded-lg" id="button-to-split2">Back</button>
          <button class="bg-orange-400 text-white px-8 py-2 mt-4 rounded-lg" id="button-to-select-card">Gamble</button>
        </div>
      </div>

    </div>
  </div>
</div>
